@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the PokéPortal!</h1>
    <p>Interface for all your Pokémon management needs.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="image-container text-center">
                <button type="button" id="myModal1Button" data-bs-toggle="modal" data-bs-target="#myModal1">
                    <img src="~/images/thumbnails/thumbnail01.jpg" alt="Image 1" class="img-fluid" />
                    <div class="image-title">Image 1 Title</div>
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="image-container text-center">
                <button type="button" id="myModal2Button" data-bs-toggle="modal" data-bs-target="#myModal2">
                    <img src="~/images/thumbnails/thumbnail02.jpg" alt="Image 2" class="img-fluid" />
                    <div class="image-title">Image 2 Title</div>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="image-container text-center">
                <button type="button" id="myModal3Button" data-bs-toggle="modal" data-bs-target="#myModal3">
                    <img src="~/images/thumbnails/thumbnail03.jpg" alt="Image 3" class="img-fluid">
                    <div class="image-title">Image 3 Title</div>
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="image-container text-center">
                <button type="button" id="myModal4Button" data-bs-toggle="modal" data-bs-target="#myModal4">
                    <img src="~/images/thumbnails/thumbnail04.jpg" alt="Image 4" class="img-fluid">
                    <div class="image-title">Image 4 Title</div>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image 1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="~/images/image01.jpg" alt="Image 1" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="~/images/image02.jpg" alt="Image 2" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="~/images/image03.jpg" alt="Image 3" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image 4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="~/images/image04.jpg" alt="Image 4" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<style>
    .image-container {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }

        .image-container img {
            border-radius: inherit;
        }

    .image-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .image-container:hover .image-title {
        opacity: 1;
    }

    .modal fade {
        padding: 0;
    }

    #myModal1Button {
        padding: 0;
        margin: 0;
        border: none;
    }

    #myModal2Button {
        padding: 0;
        margin: 0;
        border: none;
    }

    #myModal3Button {
        padding: 0;
        margin: 0;
        border: none;
    }

    #myModal4Button {
        padding: 0;
        margin: 0;
        border: none;
    }

    .model-body {
        text-align: center;
        padding: 0;
    }

    .modal-content {
        border: none;
        background-color: none;
    }
</style>
