<!-- Views/Pokemon/Index.cshtml -->
@model List<Pokemon>

<h1>Pokemon List</h1>


@foreach (var pokemon in Model)
{
    <div class="poke-list">
        <li>
            @Html.ActionLink(pokemon.Name, "Details", new { id = pokemon.Id })
        </li>
    </div>
}

